body {
    background : #04b333;
    min-width: 1200px;
    font-family: 'Lato' , sans-serif;
    font-size : x-large;
    text-align: center;
    color: white;
}
#btcPrice {
    margin : 1vw;
    padding : 1vh;
}
.game {
    display : flex;
    justify-content: center;

}

.buttons {
    display : flex;
    justify-content: center;
    margin : 1vh;
    padding : 1vh;
}
#canvas{
    border-style: double;
    border-color: #D900D9;
}
#god {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #ffc72e;
    border-color : #ffc72e;
    border-radius : 10%;
    color: white;
}
#Crypto {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #ffc72e;
    border-color : #ffc72e;
    border-radius : 10%;
    color: white;
}

#Terror {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #ffc72e;
    border-color : #ffc72e;
    border-radius : 10%;
    color: white;
}
#bugs {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #ffc72e;
    border-color : #ffc72e;
    border-radius : 10%;
    color: white;
}

#restart {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #ffc72e;
    border-color : #ffc72e;
    border-radius : 10%;
    color: white;
   
}
}