body {
    background : #04b333;
    min-width: 1200px;
    font-family: 'Lato' , sans-serif;
    text-align: center;
    
}

.game {
    display : flex;
    justify-content: center;
}

.buttons {
    display : flex;
    justify-content: center;
    margin : 1vh;
    padding : 1vh;
}

#god {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #ffc72e;
    border-color : #ffc72e;
    border-radius : 10%;
    color: white;
}

#restart {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #ffc72e;
    border-color : #ffc72e;
    border-radius : 10%;
    color: white;
   
}
}