body {
    background : #535362;
    min-width: 1200px;
    font-family: 'Lato' , sans-serif;
    font-size : x-large;
    text-align: center;
    color: white;
}
#btcPrice {
    margin : 1vw;
    padding : 1vh;
}
.gamerow {
    display : flex;
    justify-content: center;

}

.game { 
    max-width: 1200;
}

.buttons {
    display : flex;
    justify-content: center;
    margin : 1vh;
    padding : 1vh;
}
#canvas{
    border-style: groove;
    border-width: 7px;
    border-color: white;
}
#god {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #FE470D;
    border-color : #FE470D;
    border-radius : 10%;
    color: white;
}
#Crypto {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #FE470D;
    border-color : #FE470D;
    border-radius : 10%;
    color: white;
}

#Terror {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #FE470D;
    border-color : #FE470D;
    border-radius : 10%;
    color: white;
}
#bugs {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #FE470D;
    border-color : #FE470D;
    border-radius : 10%;
    color: white;
}

#restart {
    margin : 1vh;
    padding: 1vh;
    width : 10vw;
    border : solid;
    background : #FE470D;
    border-color : #FE470D;
    border-radius : 10%;
    color: white;
   
}
}